<% content_for :back do %>
<%= link_to "Back", :back  %>
<% end %>
<table class="table table-hover">
  <thead>
  <th><%= @category.name %></th>
  </thead>
  <tbody>
  <% @category.articles.each do |art| %>
      <tr>
        <td>
          <%= link_to "#{art.title}", category_article_path(@category, art) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
